{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>MembershipType list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membershipType in membershipTypes %}
            <tr>
                <td>{{ membershipType.type }}</td>
                <td>{{ membershipType.price }}</td>
                <td>
                    <a href="{{ path('membershiptype_show', { 'id': membershipType.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></a>
                    <a href="{{ path('membershiptype_edit', { 'id': membershipType.id }) }}" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('membershiptype_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
