{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>MembershipType</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membershipType.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ membershipType.type }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ membershipType.price }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('membershiptype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('membershiptype_edit', { 'id': membershipType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
