{% extends 'adminbase.html.twig' %}

{% block title %}{{ person.name }}{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <a class="breadcrumb-item" href="{{ path('admin_person_index')}}">People</a>
        <span class="breadcrumb-item active">{{ person.name }}</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Person edit</h1>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#details" data-toggle="tab" role="tab">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#nextofkin" data-toggle="tab" role="tab">Next of Kin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#groups" data-toggle="tab" role="tab">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#activityhistory" data-toggle="tab" role="tab">Activity History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#history" data-toggle="tab" role="tab">Member History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#charges" data-toggle="tab" role="tab">
                Charges {% if person.unpaidCharges|length > 0 %}<span class="badge badge-pill badge-danger">{{ person.unpaidCharges|length}}</span>{% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#qualifications" data-toggle="tab" role="tab">Qualifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#actions" data-toggle="tab" role="tab">Actions</a>
        </li>
    </ul>

    <div class="tab-content m-t-1">
        <div class="tab-pane active" id="details" role="tabpanel">
            <h2>Details</h2>
            {{ form_start(edit_form) }}
                <div class="row">
                    <div class="col-md-3"><strong>Membership Number</strong></div>
                    <div class="col-md-2">{{ person.id }}</div>
                </div>
                <div class="row">
                    <div class="col-md-1 text-md-right"><strong>{{ form_label(edit_form.forename) }}</strong></div>
                    <div class="col-md-2">{{ form_widget(edit_form.forename) }}</div>

                    <div class="col-md-1 text-md-right"><strong>{{ form_label(edit_form.surname) }}</strong></div>
                    <div class="col-md-2">{{ form_widget(edit_form.surname) }}</div>

                    <div class="col-md-1 text-md-right"><strong>{{ form_label(edit_form.gender) }}</strong></div>
                    <div class="col-md-2">{{ form_widget(edit_form.gender) }}</div>
                </div>

                <div class="row">
                    <div class="col-md-1 text-md-right"><strong>Address</strong></div>
                    <div class="col-md-3">{{ form_widget(edit_form.addr1) }}</div>
                    <div class="col-md-1 offset-md-2"><strong>{{ form_label(edit_form.dob) }}</strong></div>
                    <div class="col-md-3">{{  form_widget(edit_form.dob) }}</div>
                </div>

                <div class="row">
                    <div class="col-md-3 offset-md-1">{{ form_widget(edit_form.addr2) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 offset-md-1">{{ form_widget(edit_form.addr3) }}</div>
                </div>

                <div class="row">
                    <div class="col-md-3 offset-md-1">{{ form_widget(edit_form.town) }}</div>
                    <div class="col-md-1 offset-md-2"><strong>{{ form_label(edit_form.email) }}</strong></div>
                    <div class="col-md-3">{{  form_widget(edit_form.email) }}</div>
                </div>

                <div class="row">
                    <div class="col-md-3 offset-md-1">{{ form_widget(edit_form.county) }}</div>
                    <div class="col-md-1 offset-md-2"><strong>{{ form_label(edit_form.telephone) }}</strong></div>
                    <div class="col-md-3">{{  form_widget(edit_form.telephone) }}</div>
                </div>

                <div class="row">
                    <div class="col-md-1"><strong>{{ form_label(edit_form.postcode) }}</strong></div>
                    <div class="col-md-3">{{ form_widget(edit_form.postcode) }}</div>
                    <div class="col-md-1 offset-md-2"><strong>{{ form_label(edit_form.mobile) }}</strong></div>
                    <div class="col-md-3">{{  form_widget(edit_form.mobile) }}</div>
                </div>

                <div class="row">
                    <div class="col-md-1"><strong>BC #</strong></div>
                    <div class="col-md-3">{{ form_widget(edit_form.bcMembershipNumber) }}</div>
                </div>

                <div class="row">
                    <div class="col-md-1"><strong>{{ form_label(edit_form.notes) }}</strong></div>
                    <div class="col-md-9">{{ form_widget(edit_form.notes) }}</div>
                </div>

                {{ form_widget(edit_form) }}
                <input type="submit" value="Save" class="btn btn-primary" />
            {{ form_end(edit_form) }}

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>

        <div class="tab-pane" id="nextofkin" role="tabpanel">
            <h2>Next of Kin</h2>
            {{ form_start(nextofkin_form) }}
            <div class="row">
                <div class="col-md-4 text-md-right"><strong>{{ form_label(nextofkin_form.nextOfKinName) }}</strong></div>
                <div class="col-md-8">{{ form_widget(nextofkin_form.nextOfKinName) }}</div>
            </div>

            <div class="row">
                <div class="col-md-4 text-md-right"><strong>{{ form_label(nextofkin_form.nextOfKinRelation) }}</strong></div>
                <div class="col-md-8">{{ form_widget(nextofkin_form.nextOfKinRelation) }}</div>
            </div>

            <div class="row">
                <div class="col-md-4 text-md-right"><strong>{{ form_label(nextofkin_form.nextOfKinContactDetails) }}</strong></div>
                <div class="col-md-8">{{ form_widget(nextofkin_form.nextOfKinContactDetails) }}</div>
            </div>

            <input type="submit" value="Save" class="btn btn-primary" />

            {{ form_end(nextofkin_form) }}
        </div>

        <div class="tab-pane" id="groups" role="tabpanel">
            <h2>Groups</h2>
            {#}{{ form_start(groups_form) }}
            <div class="row">
                <div class="col-md-12">{{ form_widget(groups_form.group) }}</div>
            </div>

            <input type="submit" value="Save" class="btn btn-primary" />

            {{ form_end(groups_form) }}
            #}
        </div>

        <div class="tab-pane" id="activityhistory" role="tabpanel">
            <h2>Activity History</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Type</th>
                    </tr>
                </thead>

                <tbody>
                    {% for participant in participations %}
                        <tr>
                            <td>
                                <a href="{{ path('activity_view', { id: participant.managedActivity.id }) }}">{{ participant.managedActivity.name }}</td>
                            <td>{{ participant.managedActivity.activityStart|date('d/m/Y')}}</td>
                            <td>{{ participant.managedActivity.activityType.type }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="history" role="tabpanel">
            <h2>Membership History</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Type</th>
                        <th>Paid</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for registration in person.memberRegistration %}
                    <tr>
                        <td>{{ registration.membershipTypePeriod.membershipPeriod.fromDate|date('d/m/Y') }}</td>
                        <td>{{ registration.membershipTypePeriod.membershipPeriod.toDate|date('d/m/Y') }}</td>
                        <td>{{ registration.membershipTypePeriod.membershipType.type }}</td>
                        <td>
                            {% if registration.memberRegistrationCharge and registration.memberRegistrationCharge.paid %}
                                <i class="fa fa-check text-success"></i>
                            {% else %}
                                <i class="fa fa-times text-danger"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_memberregistration_edit', { id: registration.id, next: path('admin_person_edit', {id: person.id})})}}"><i class="fa fa-pencil"></i></a>
                            {% if not registration.memberRegistrationCharge.paid %}
                                <a href="{{ path('admin_membercharge_show', { personId: person.id, id: registration.memberRegistrationCharge.id})}}" title="View Charge">
                                    <i class="fa fa-money"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <a href="{{ path('admin_enrol', { person: person.id }) }}" class="btn btn-primary">Enrol</a>
        </div>

        <div class="tab-pane" id="charges" role="tabpanel">
            <h2>Charges</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Paid</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for charge in person.charge %}
                    <tr>
                        <td>{{ charge.createddatetime|date('d M Y') }}
                        <td>{{ charge.description }}</td>
                        <td>&pound;{{ charge.amount|number_format(2) }}
                        <td>
                            {% if charge.paid %}
                                <i class="fa fa-check text-success"></i>
                            {% else %}
                                <i class="fa fa-times text-danger"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_membercharge_edit', { personId: person.id, id: charge.id})}}" title="Edit Charge"><i class="fa fa-pencil"></i></a>
                            <a href="{{ path('admin_membercharge_show', { personId: person.id, id: charge.id})}}" title="View Charge"><i class="fa fa-search"></i></a>
                            {% if not charge.paid %}
                                <a href="{{ path('admin_membercharge_approve', { personId: person.id, id: charge.id})}}" title="Pay Charge"><i class="fa fa-money"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <a href="{{ path('admin_membercharge_new', { personId: person.id }) }}" class="btn btn-primary">Add Charge</a>
        </div>

        <div class="tab-pane" id="qualifications" role="tabpanel">
            <h2>Qualifications</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Valid From</th>
                        <th>Valid To</th>
                        <th>Verified</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for qualification in person.memberQualification %}
                    <tr>
                        <td>{{ qualification.qualification.name }}</td>
                        <td>{{ qualification.validFrom|date('d/m/Y') }}</td>
                        <td>
                            {% if qualification.validTo %}
                                {{ qualification.validTo|date('d/m/Y') }}
                            {% else %}
                                ...
                            {% endif %}
                        </td>
                        <td>
                            {% if qualification.qualification.verificationRequired %}
                                {% if qualification.verifiedBy %}
                                    <span class="verified" title="{{ qualification.verifiedBy.name }}" data-content="{{ qualification.verifiedDateTime|date('d M Y') }}">
                                        <i class="fa fa-check text-success"></i>
                                    </span>
                                {% else %}
                                    <i class="fa fa-times text-danger"></i>
                                {% endif %}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_memberqualification_edit', { personId: person.id, id: qualification.id})}}"><i class="fa fa-pencil"></i></a>
                            {% if qualification.qualification.verificationRequired and qualification.verifiedBy == '' %}
                                <a href="{{ path('admin_person_qualification_verify', { id: person.id, id2: qualification.id} )}}" title="Verify">
                                    <i class="fa fa-check"></i>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </table>

            <a href="{{ path('admin_memberqualification_new', { personId: person.id }) }}" class="btn btn-primary">Add Qualification</a>
        </div>

        <div class="tab-pane" id="actions" role="tabpanel">
            <h2>Actions</h2>

            <a href="{{ path('homepage', { _switch_user: person.id }) }}" class="btn btn-warning btn-sm"><i class="fa fa-snapchat-ghost"></i> Impersonate</a>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
<script>
$('.verified').popover({
  trigger: 'hover'
})
</script>
{% endblock %}
