{% extends 'adminbase.html.twig' %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <span class="breadcrumb-item active">People</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Person list</h1>

    <table class="table" data-toggle="table" data-search="true" data-filter-control="true">
        <thead>
            <tr>
                <th data-sortable="true" data-filter-control="input" data-field="id">#</th>
                <th data-sortable="true" data-filter-control="input" data-field="name">Name</th>
                <th data-filter-control="input" data-field="email">Email</th>
                <th data-filter-control="select" data-field="admin">Admin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.forename }} {{ person.surname }}</td>
                <td>{{ person.email }}</td>
                <td>{% if person.admin %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('admin_person_show', { 'id': person.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></a>
                    <a href="{{ path('admin_person_edit', { 'id': person.id }) }}" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_person_new') }}" class="btn btn-primary">Create a new entry</a>
{% endblock %}
