{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 push-md-3">
            <h2>Login</h2>
            <p>Enter your EagleDB username and password below to login</p>

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control" />
                </div>

                <div class="form-check">
                    <label for="remember_me" class="form-check-label">
                        <input type="checkbox" id="remember_me" name="_remember_me" class="form-check-input" checked />
                        Remember Me
                    </label>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="btn btn-primary">Login</button>
            </form>

            <p>
                <a href="{{ path('reset_password')}}" class="pull-xs-right">Forgot your password?</a>
            </p>
        </div>
    </div>

{% endblock %}
