{% extends 'adminbase.html.twig' %}

{% block body %}
    <h1>ParticipantStatus</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participantStatus.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ participantStatus.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_participantstatus_edit', { 'id': participantStatus.id }) }}" class="btn btn-warning">Edit</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
