<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/nivo-slider.min.css" integrity="sha256-RxI5c+tx2nFpvcr20TojMnNRkSevluZMCr/9DgjQ0jw=" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/brandon.css" />

    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />

    {% block stylesheets %}{% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
    <div class="container">
        {# Menu Bar #}
        {% include 'menu.html.twig' %}

        {# Flash Messages #}
        {% include 'messages.html.twig' %}

        {# Main Content #}
        {% block body %}{% endblock %}

        {# Bottom nav menu #}
        <div class="row mt-3 hidden-print">
            <div class="col-12">
                <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #f6f6f6;">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bottomNavBar" aria-controls="bottomNavBar" aria-expanded="false" aria-label="Toggle menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <span class="navbar-brand">&nbsp;</span>

                    <div class="collapse navbar-collapse" id="bottomNavBar">

                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docsanddownloads')}}">Documents &amp; Downloads</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('whoswho') }}">Who's Who</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('grantsandawards')}}">Grants &amp; Awards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.flickr.com/photos/99278423@N03/sets/" target="_blank">Photos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://m.youtube.com/channel/UCzVxt4-IvHKj_gZwx6ySdvA" target="_blank">Videos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://stores.clothes2order.com/eagle-canoe-club/" target="_blank">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('contact_index')}}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/jquery.nivo.slider.pack.min.js" integrity="sha256-66ApDNLFhIKyILJVmsbuCCSQAsj/j1cETZLc4FD9hGM=" crossorigin="anonymous"></script>

    <!-- Google Analytics and autotrack -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.3.2/autotrack.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      {% if app.user %}
        {# Add in the ID of the logged in user #}
        ga('create', '{{ google_ua_number }}', 'auto', {
            userId: '{{ app.user.id }}'
        });
      {% else %}
        ga('create', '{{ google_ua_number }}', 'auto');
      {% endif %}

      ga('require', 'eventTracker');
      ga('require', 'maxScrollTracker');
      ga('require', 'outboundLinkTracker');
      ga('require', 'pageVisibilityTracker');

      ga('send', 'pageview');
    </script>

    <script type="text/javascript">
        $(window).on('load', function() {
            $('#slider').nivoSlider({
                animSpeed: 750,
                controlNav: false,
                directionNav: false,
                effect: 'sliceDownLeft',
                pauseTime: 5000
            });
        });
    </script>

    {% block javascripts %}{% endblock %}
</body>
</html>
