<nav class="navbar navbar-toggleable-md navbar-light bg-white hidden-print navbar-expand-lg pl-0">

    <a class="navbar-brand mt-1 mb-3 p-0 pr-3" href="{{ path('homepage') }}">
        <img src="/images/logo.png" title="Eagle Canoe Club" alt="Eagle Canoe Club logo" style="height: 4em;"/>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar" aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mr-auto inline-block" id="topNavBar">

        <ul class="navbar-nav mr-auto mt-5">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('centre') }}">Eagle Canoe Centre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('howtojoin')}}">How To Join</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('whatson')}}">What's On</a>
            </li>
            {#}<li class="nav-item">
                <a class="nav-link" href="{{ path('picsandvideos') }}">Pics &amp; Videos</a>
            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('faqs') }}">FAQs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact_index')}}">Contact</a>
            </li>
        </ul>

        <ul class="nav navbar-toggleable-md navbar-nav mr-0 mt-5">
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_index') }}"><i class="fa fa-cogs"></i> Admin</a>
                    </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> {{ app.user.forename }} <span class="caret"></span></a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a href="{{ path('account_overview') }}" class="dropdown-item"><i class="fa fa-user"></i> Overview</a>
                        <a href="{{ path('account_activities') }}" class="dropdown-item"><i class="fa fa-map"></i> Activities</a>
                        <a href="{{ path('account_charges') }}" class="dropdown-item"><i class="fa fa-money"></i> Charges</a>
                        <a href="{{ path('account_qualifications') }}" class="dropdown-item">
                            <i class="fa fa-trophy"></i> Qualifications
                            {% if app.user.expiredQualifications|length > 0 %}
                                <span class="badge badge-pill badge-danger">{{ app.user.expiredQualifications|length}}</span>
                            {% endif %}
                            {% if app.user.expiringQualifications|length > 0 %}
                                <span class="badge badge-pill badge-warning">{{ app.user.expiringQualifications|length}}</span>
                            {% endif %}
                        </a>
                        <a href="{{ path('account_edit') }}" class="dropdown-item"><i class="fa fa-pencil"></i> Profile</a>

                        <div class="dropdown-divider"></div>

                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}" class="dropdown-item"><i class="fa fa-sign-out"></i> Exit impersonation</a>
                        {% else %}
                            <a href="{{ path('logout') }}" class="dropdown-item"><i class="fa fa-sign-out"></i> Logout</a>
                        {% endif %}
                    </div>
                </li>
            {% else %}
                {#}<li class="nav-item">
                    <a href="{{ path('register') }}" class="nav-link"><i class="fa fa-user-plus"></i> Register</a>
                </li>#}
                <li class="nav-item">
                    <a href="{{ path('login') }}" class="nav-link"><i class="fa fa-sign-in"></i> Login</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>
