{% extends 'base.html.twig' %}

{% block title %}{{ site_name }}{% endblock %}

{% block body %}

{% include 'components/banner.html.twig' %}

<h1 class="display-5">Welcome to {{ site_name }}!</h1>

{#<div class="alert alert-warning">
    <h4>2019 Membership</h4>
    <p>
        Membership for Summer 2019 is now full. Winter membership for paddlers with previous experience will be available from September.
    </p>
</div>#}

<div class="alert alert-info">
    <h4>New Members</h4>
    <p>
        We will be accepting a limited number of new members each month over the summer.  To have your name added to the shortlist please contact the <a href="mailto:secretary@eaglecanoeclub.co.uk?subject=New Member" ga-on="click" ga-event-category="MailToLink" ga-event-action="secretary@eaglecanoeclub.co.uk?subject=New Member">club secretary</a> who'll be able to let you know when there's a space, and be able to answer any questions you may have.
    </p>
    <p>
        <small>Updated 7th May 2021</small>
    </p>
</div>


<div class="row">
    <div class="col-lg-8">
        <p>
            Welcome to Norwich Eagle Canoe Club. We are a thriving paddlesport club based just outside of the city centre, offering fantastic opportunities to learn canoeing and kayaking. We cater for all abilities, from complete beginners to accomplished paddlers. Our focus is on recreational paddling and the club has a great family atmosphere that keeps our members coming back year after year.
        </p>
        <p>
            We provide a safe and natural environment to enjoy both kayaking and canoeing with coaching from qualified coaches and experienced paddlers, using an ever-expanding fleet of canoes kayaks and stand up paddle boards.
        </p>
        <p>
            We meet every Wednesday from April to October and on the first and third Wednesday of each month during the winter. As well as Wednesday club nights, we offer trips and activities almost every weekend (both near and far!), dedicated <a href="http://www.thisgirlcan.co.uk/" target="_blank">This Girl Can</a> activities, and monthly pool sessions.
        </p>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <h4 class="card-header">Upcoming Events</h4>
            <div class="card-body pb-1">
                <dl>
                {% for activity in upcomingActivities %}
                    <dt>
                        {{ activity.activityStart|date('j')}}<sup>{{ activity.activityStart|date('S')}}</sup> {{ activity.activityStart|date('F')}}
                    </dt>
                    <dd>
                        <a href="{{ url('activity_view', { id: activity.id }) }}">{{ activity.name }}</a>
                        {% if app.user %}
                            {% if activity.attending(app.user) %}
                                <span class="badge badge-success">Attending</span>
                            {% elseif activity.shortlisted(app.user)  %}
                                <span class="badge badge-info">Shortlisted</span>
                            {% endif %}
                        {% endif %}
                    </dd>

                {% endfor %}
                </dl>
            </div>
            <div class="card-footer text-right">
                <a href="{{ url('activity_index') }}" class="btn btn-primary btn-sm">View More</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 hidden-sm-down">
        <img src="https://farm8.staticflickr.com/7727/27250465320_edfc75cbfc_z_d.jpg" class="rounded img-fluid my-1" />
    </div>
    <div class="col-lg-8">
        <h2>History</h2>
        <p>
            Norwich Eagle Canoe Club has been in existence for over 50 years and in 1998 became affiliated to <a href="https://www.britishcanoeing.org.uk/" target="_blank">British Canoeing</a>, the national governing body for paddlesports. The club continues to grow, and the range of activities and events offered evolves annually following feedback from members and coaches.
        </p>
        <p>
            In 2009 the club gained <a href="http://www.sportenglandclubmatters.com/club-mark/" target="_blank">Clubmark</a> accreditation and in 2013 was awarded Top Club accreditation, the only national cross-sports quality accreditation scheme for clubs with junior sections. The accreditation is built around a set of core criteria, which ensure that accredited clubs operate to a set of consistent, accepted and adopted operating standards.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <h2>Photos and Videos</h2>
        <p>
            Take a look at our <a href="https://www.flickr.com/photos/99278423@N03/sets/" target="_blank">photo gallery</a> and <a href="https://www.facebook.com/Eaglecanoeclub" target="_blank">Facebook page</a> to get an idea of the kind of activities we offer. We also have a <a href="{{ url('newsletter') }}">newsletter</a> which our members contribute to.
        </p>
        <p>
            We hope you find the all the information you need on our website, from <a href="{{ url('howtojoin') }}">becoming a member</a>, finding more about <a href="{{ url('whatson') }}">what’s on</a> and <a href="{{ url('centre') }}">using our clubhouse facilities</a>. If there is anything else you would like to know, <a href="{{ url('contact_index') }}">please get in touch</a>.
        </p>
    </div>
    <div class="col-lg-4 hidden-sm-down">
        <img src="https://farm6.staticflickr.com/5606/15802558611_e9215ef308_z_d.jpg" class="rounded img-fluid my-2" />
    </div>
</div>

{% endblock %}
