{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin</h1>

    <ul>
        <li><a href="{{ path('admin_activity_index') }}">Activities</a></li>
        <li><a href="{{ path('admin_activitytype_index') }}">Activity Types</a></li>
        <li><a href="{{ path('admin_location_index') }}">Locations</a></li>
        <li><a href="{{ path('admin_person_index') }}">Members</a></li>
        <li><a href="{{ path('admin_membershipperiod_index') }}">Membership Periods</a></li>
        <li><a href="{{ path('admin_membershiptype_index') }}">Membership Types</a></li>
        <li><a href="{{ path('admin_membershiptypeperiod_index') }}">Membership Type Periods</a></li>
        <li><a href="{{ path('admin_participantstatus_index') }}">Participant Status</a></li>
        <li><a href="{{ path('admin_report_index') }}">Reports</a></li>
        <li><a href="{{ path('admin_qualification_index') }}">Qualifications</a></li>
    </ul>
{% endblock %}
