{% extends 'adminbase.html.twig' %}

{% block title %}Admin{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Home</a>
      <span class="breadcrumb-item active">Admin</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Admin</h1>

    <ul>
        <li><a href="{{ path('admin_activity_index') }}">Activities</a></li>
        <li><a href="{{ path('admin_activitytype_index') }}">Activity Types</a></li>
        <li><a href="{{ path('admin_cashreceived_index') }}">Cash Received</a></li>
        <li><a href="{{ path('admin_charge_index') }}">Charges</a></li>
        <li><a href="{{ path('admin_coachdevelopment_index') }}">Coach Development</a></li>
        <li><a href="{{ path('admin_group_index') }}">Groups</a></li>
        <li><a href="{{ path('admin_location_index') }}">Locations</a></li>
        <li><a href="{{ path('admin_person_index') }}">Members</a></li>
        <li><a href="{{ path('admin_membershipextra_index') }}">Membership Extras</a></li>
        <li><a href="{{ path('admin_membershipperiod_index') }}">Membership Periods</a></li>
        <li><a href="{{ path('admin_membershiptype_index') }}">Membership Types</a></li>
        <li><a href="{{ path('admin_membershiptypeperiod_index') }}">Membership Type Periods</a></li>
        <li><a href="{{ path('admin_membershiptypeperiodextra_index') }}">Membership Type Period Extras</a></li>
        <li><a href="{{ path('admin_participantstatus_index') }}">Participant Status</a></li>
        <li><a href="{{ path('admin_paymenttype_index') }}">Payment Types</a></li>
        <li><a href="{{ path('admin_report_index') }}">Reports</a></li>
        <li><a href="{{ path('admin_qualification_index') }}">Qualifications</a></li>
        <li><a href="{{ path('admin_qualificationcategory_index') }}">Qualification Categories</a></li>
    </ul>
{% endblock %}
