{% extends 'adminbase.html.twig' %}

{% block title %}Reports: Active Members{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <a class="breadcrumb-item" href="{{ path('admin_report_index')}}">Reports</a>
        <span class="breadcrumb-item active">Active Members</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Active Members</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Enrolled</th>
            </tr>
        </thead>
        <tbody>
            {% for member in activeMembers %}
                <tr>
                    <td>{{ member.id }}</td>
                    <td>{{ member.forename }} {{ member.surname }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.currentMemberRegistration.membershipTypePeriod.membershipType.type }}</td>
                    <td>{{ member.currentMemberRegistration.registrationDateTime|date('d/m/Y') }}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
