{% extends 'adminbase.html.twig' %}

{% block title %}Reports{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <span class="breadcrumb-item active">Reports</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Reports</h1>

    <ul>
        <li>
            <a href="{{ path('admin_report_activemembers') }}">Active Members</a>
        </li>
        <li>
            <a href="{{ path('admin_report_attendance') }}">Attendance Overview</a>
        </li>
        <li>
            <a href="{{ path('admin_report_attendancedetail') }}">Attendance Detail</a>
        </li>
        <li>
            <a href="{{ path('admin_report_attendanceleague') }}">Attendance League</a>
        </li>
        <li>
            <a href="{{ path('admin_report_bcaffiliation') }}">British Canoeing Affiliation</a>
        </li>
        <li>
            <a href="{{ path('admin_report_databaseengagement') }}">Database Engagement</a>
        </li>
        <li>
            <a href="{{ path('admin_report_emaillist') }}">Email List</a>
        </li>
        <li>
            <a href="{{ path('admin_report_enrolment') }}">Enrolment</a>
        </li>
        <li>
            <a href="{{ path('admin_report_grants') }}">Grants</a>
        </li>
        <li>
            <a href="{{ path('admin_report_membermap') }}">Member Map</a>
        </li>
        <li>
            <a href="{{ path('admin_report_membership') }}">Membership Overview</a>
        </li>
        <li>
            <a href="{{ path('admin_report_nextofkin') }}">Next Of Kin</a>
        </li>
        <li>
            <a href="{{ path('admin_report_participationgrid') }}">Participation Grid</a>
        </li>
        <li>
            <a href="{{ path('admin_report_qualifications') }}">Qualifications - By Type</a>
        </li>
        <li>
            <a href="{{ path('admin_report_expiredqualifications') }}">Qualifications - Expired</a>
        </li>
        <li>
            <a href="{{ path('admin_report_expiringqualifications') }}">Qualifications - Expiring</a>
        </li>
        <li>
            <a href="{{ path('admin_report_qualificationsrequiringverification') }}">Qualifications - Requiring Verification</a>
        </li>
        <li>
            <a href="{{ path('admin_report_youth') }}">Youth Members</a>
        </li>
    </ul>
{% endblock %}
