{% extends 'adminbase.html.twig' %}

{% block title %}Reports: Membership{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <a class="breadcrumb-item" href="{{ path('admin_report_index')}}">Reports</a>
        <span class="breadcrumb-item active">Membership</span>
    </nav>
{% endblock %}

{% block body %}
<h1>Membership Overview</h1>

<div class="col-sm-12">
    {{ form_start(form, { attr: { class: 'form-inline'}}) }}
    <div class="form-group">
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
    </div>
    <div class="form-group">
        {{ form_label(form.ageRanges) }}
        {{ form_widget(form.ageRanges) }}
    </div>
    <button type="submit" class="btn btn-primary">Run</button>
    {{ form_end(form) }}
</form>
</div>

<div class="row">
    <div class="col-lg-4">
        <div id="genderChart"></div>
    </div>
    <div class="col-lg-8">
        <div id="ageChart"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div id="lengthChart"></div>
    </div>
    <div class="col-lg-4">
        <div id="returningChart"></div>
    </div>
</div>

<div class="col-lg-4">
    <div id="membershipTypeChart"></div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
{% if genderChart is defined %}{{ gc_draw(genderChart, 'genderChart') }}{% endif %}
{% if ageChart is defined %}{{ gc_draw(ageChart, 'ageChart') }}{% endif %}
{% if lengthChart is defined %}{{ gc_draw(lengthChart, 'lengthChart') }}{% endif %}
{% if returningChart is defined %}{{ gc_draw(returningChart, 'returningChart') }}{% endif %}
{% if membershipTypeChart is defined %}{{ gc_draw(membershipTypeChart, 'membershipTypeChart') }}{% endif %}
</script>
{% endblock %}
