{% extends 'adminbase.html.twig' %}

{% block title %}Reports: Qualifications{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <a class="breadcrumb-item" href="{{ path('admin_report_index')}}">Reports</a>
        <span class="breadcrumb-item active">Qualifications</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Qualifications</h1>

    <div class="col-sm-12">
        {{ form_start(form, { attr: { class: 'form-inline'}}) }}
        <div class="form-group">
            {{ form_label(form.qualification) }}
            {{ form_widget(form.qualification) }}
        </div>
        <button type="submit" class="btn btn-primary">Run</button>
        {{ form_end(form) }}
    </div>

    {% if qualifications is defined %}
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Valid From</th>
                    <th>Valid To</th>
                </tr>
            </thead>
            <tbody>
                {% for qualification in qualifications %}
                    <tr>
                        <td>{{ qualification.person.name }}</td>
                        <td>{{ qualification.validFrom|date('jS F Y') }}</td>
                        <td>
                            {{ qualification.validTo|date('jS F Y') }}
                            {% if qualification.expired %}
                                <span class="badge badge-danger">Expired</span>
                            {% elseif qualification.expiringSoon %}
                                <span class="badge badge-warning">Expiring Soon</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
