{% extends 'base.html.twig' %}

{% block title %}Activity History{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('account_overview') }}">Account</a>
        <span class="breadcrumb-item active">Activities</span>
    </nav>
{% endblock %}

{% block body %}
    <h2>Activity History</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Activity</th>
                <th>Date</th>
                <th>Role</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in app.user.participant %}
                <tr>
                    <td>{{ activity.managedActivity.name}}</td>
                    <td>{{ activity.managedActivity.activityStart|date('d M Y') }}</td>
                    <td>{{ activity.participantRole.role }}</td>
                    <td>{{ activity.participantStatus.status }}</td>
                    <td>
                        <a href="{{ path('activity_view', { id: activity.id })}}"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
