{% extends 'base.html.twig' %}

{% block body %}

    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Home</a>
      <a class="breadcrumb-item" href="{{ path('account_overview') }}">Account</a>
      <span class="breadcrumb-item active">Profile</span>
    </nav>

    <h2>Your Profile</h2>

    {{ form_start(nameForm) }}
    <fieldset class="form-group">
        <legend>You</legend>
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{ form_label(nameForm.forename) }}</label>
            <div class="col-xs-4">
                {{ form_widget(nameForm.forename) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{ form_label(nameForm.surname) }}</label>
            <div class="col-xs-4">
                {{ form_widget(nameForm.surname) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{ form_label(nameForm.gender) }}</label>
            <div class="col-xs-4">
                {{ form_widget(nameForm.gender) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{ form_label(nameForm.dob) }}</label>
            <div class="col-xs-4">
                {{ form_widget(nameForm.dob) }}
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <legend>Contact Details</legend>

        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{ form_label(nameForm.email) }}</label>
            <div class="col-xs-4">
                {{ form_widget(nameForm.email) }}
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{ form_label(nameForm.telephone) }}</label>
            <div class="col-xs-4">
                {{ form_widget(nameForm.telephone) }}
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{ form_label(nameForm.mobile) }}</label>
            <div class="col-xs-4">
                {{ form_widget(nameForm.mobile) }}
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{ form_label(nameForm.addr1) }}</label>
            <div class="col-xs-4">
                {{ form_widget(nameForm.addr1) }}
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{ form_label(nameForm.addr2) }}</label>
            <div class="col-xs-4">
                {{ form_widget(nameForm.addr2) }}
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{ form_label(nameForm.town) }}</label>
            <div class="col-xs-4">
                {{ form_widget(nameForm.town) }}
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{ form_label(nameForm.county) }}</label>
            <div class="col-xs-4">
                {{ form_widget(nameForm.county) }}
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{ form_label(nameForm.postcode) }}</label>
            <div class="col-xs-4">
                {{ form_widget(nameForm.postcode) }}
            </div>
        </div>
    </fieldset>

    <input type="submit" value="Save" class="btn btn-primary" />
    {{ form_end(nameForm) }}
{% endblock %}
