{% extends 'adminbase.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('account_overview') }}">Account</a>
        <span class="breadcrumb-item active">Profile</span>
    </nav>

    <h2>Your Profile</h2>

    {{ form_start(nameForm) }}
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card card-block">
                <h4 class="card-title">You</h4>
                <div class="card-text">
                    {{ form_row(nameForm.forename)}}
                    {{ form_row(nameForm.surname)}}
                    {{ form_row(nameForm.gender)}}
                    {{ form_row(nameForm.dob)}}
                    {{ form_row(nameForm.bcMembershipNumber) }}
                </div>

                <div class="card-text">
                    <h4 class="card-title">Next of Kin</h4>
                    {{ form_row(nameForm.nextOfKinName)}}
                    {{ form_row(nameForm.nextOfKinRelation)}}
                    {{ form_row(nameForm.nextOfKinContactDetails)}}
                </div>
            </div>


            <div class="card card-block">
                <h4 class="card-title">Contact Details</h4>
                <div class="card-text">
                    {{ form_row(nameForm.email)}}
                    {{ form_row(nameForm.telephone)}}
                    {{ form_row(nameForm.mobile)}}
                    {{ form_row(nameForm.addr1)}}
                    {{ form_row(nameForm.addr2)}}
                    {{ form_row(nameForm.addr3)}}
                    {{ form_row(nameForm.town)}}
                    {{ form_row(nameForm.county)}}
                    {{ form_row(nameForm.postcode)}}
                </div>
            </div>
        </div>
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    {{ form_end(nameForm) }}
{% endblock %}
