{% extends 'base.html.twig' %}

{% block title %}Account Overview{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Home</a>
      <span class="breadcrumb-item active">Account</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Welcome {{ app.user.forename }}!</h1>

    <div class="card-deck-wrapper">
        <div class="card-deck">
            {% if app.user.currentMemberRegistration %}
                <div class="card">
                    <div class="card-header">
                        <strong>Your Membership</strong>
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            You are currently registered with {{ site_name }} as a <strong>{{ app.user.currentMemberRegistration.membershipTypePeriod.membershipType.type }}</strong> until <strong>{{ app.user.currentMemberRegistration.membershipTypePeriod.membershipPeriod.toDate|date('d/m/Y') }}</strong>.
                        </p>

                    </div>
                    <div class="card-footer">
                        <a href="{{ path('account_membership')}}" class="btn btn-primary" role="button">Membership history</a>
                    </div>
                </div>
            {% else %}
                <div class="card card-outline-danger">
                    <div class="card-header">
                        <strong>Your Membership</strong>
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            Your membership has expired.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('account_membership_renew') }}" class="btn btn-primary">Renew</a>
                    </div>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-header">
                    <strong>Your Next Trip</strong>
                </div>
                <div class="card-block">
                    <p class="card-text"><em>You're not signed up to any upcoming trips :(</em></p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('account_activities')}}" class="btn btn-primary" role="button">Trip history</a>
                    <a href="#" class="btn btn-primary" role="button">Upcoming trips</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
