{% extends 'adminbase.html.twig' %}

{% block title %}Account Overview{% endblock %}

{% block body %}

    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Home</a>
      <span class="breadcrumb-item active">Account</span>
    </nav>

    {% if app.user.admin %}
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> You are logged in as an admin.
        </div>
    {% endif %}

    <h1>Welcome {{ app.user.forename }}!</h1>

    <div class="card-deck-wrapper">
        <div class="card-deck">
            {% if app.user.currentMemberRegistration %}
                <div class="card">
                    <div class="card-header">
                        <strong>Your Membership</strong>
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            <strong>Membership Number: {{ app.user.id }}</strong>
                        </p>
                        <p class="card-text">
                            You are currently registered with {{ site_name }} as a <strong>{{ app.user.currentMemberRegistration.membershipTypePeriod.membershipType.type }}</strong> until <strong>{{ app.user.currentMemberRegistration.membershipTypePeriod.membershipPeriod.toDate|date('jS F Y') }}</strong>.
                        </p>

                    </div>
                    <div class="card-footer">
                        <a href="{{ path('account_membership')}}" class="btn btn-primary" role="button">Membership History</a>
                        {% if canRenew %}
                            <a href="{{ path('account_membership_renew') }}" class="btn btn-primary">Renew</a>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="card card-outline-danger">
                    <div class="card-header">
                        <strong>Your Membership</strong>
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            <strong>Membership Number: {{ app.user.id }}</strong>
                        </p>
                        <p class="card-text">
                            Your membership has expired.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('account_membership')}}" class="btn btn-primary" role="button">Membership History</a>
                    </div>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-header">
                    <strong>Your Upcoming Activities</strong>
                </div>
                <div class="card-block">
                        <dl>
                        {% for activity in upcomingActivities %}
                            <dt>
                                {{ activity.activityStart|date('d')}}<sup>{{ activity.activityStart|date('S')}}</sup> {{ activity.activityStart|date('F')}}
                            </dt>
                            <dd>
                                <a href="{{ url('activity_view', { id: activity.id }) }}">{{ activity.name }}</a>
                                {% if app.user and activity.attending(app.user) %}
                                    <span class="badge badge-success">Attending</span>
                                {% endif %}
                            </dd>
                        {% else %}
                            <em>You're not signed up to any upcoming trips :(</em></p>
                        {% endfor %}
                        </dl>
                </div>
                <div class="card-footer">
                    <a href="{{ path('account_activities')}}" class="btn btn-primary" role="button">Your Trips</a>
                </div>
            </div>

            {% if app.user.missingNextOfKinDetails %}
                <div class="card card-outline-danger">
                    <div class="card-header">
                        <strong>Next Of Kin</strong>
                    </div>
                    <div class="card-block">
                        <p class="card-text"><em>Please remember to update your next of kin details</em></p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('account_edit')}}" class="btn btn-primary" role="button">Update</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
