{% extends 'adminbase.html.twig' %}

{% block title %}Qualifications{% endblock %}

{% block body %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('account_overview') }}">Account</a>
        <span class="breadcrumb-item active">Qualifications</span>
    </nav>

    <h2>Qualifications</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Qualification</th>
                <th>Expires</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for qualification in app.user.memberQualification %}
                <tr>
                    <td>{{ qualification.qualification.name }}</td>
                    <td>
                        {% if qualification.validTo %}
                            {{ qualification.validTo|date('jS F Y')}}
                            {% if qualification.expired %}
                                <span class="badge badge-danger">Expired</span>
                            {% elseif qualification.expiringSoon %}
                                <span class="badge badge-warning">Expiring Soon</span>
                            {% endif %}
                        {% else %}
                            Does not expire
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('account_qualifications_edit', { id: qualification.id }) }}" class="btn btn-sm">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="{{ path('account_qualifications_delete', { id: qualification.id }) }}" class="btn btn-sm">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('account_qualifications_new') }}" class="btn btn-primary"><i class="fa fa-trophy"></i> Add Qualification</a>

{% endblock %}
