{% extends 'adminbase.html.twig' %}

{% block title %}Renew - Confirm{% endblock %}

{% block body %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('account_overview') }}">Account</a>
        <a class="breadcrumb-item" href="{{ path('account_membership') }}">Membership</a>
        <span class="breadcrumb-item active">Renew</span>
    </nav>

    <h2>Renew - Confirm</h2>

    <table class="table">
        <tr>
            <th>Membership Type</th>
            <td>{{ memberRegistration.membershipTypePeriod.membershipType.type }}</td>
            <td>&pound;{{ memberRegistration.membershipTypePeriod.price|number_format(2) }}</td>
        </tr>

        {% for extra in memberRegistration.memberRegistrationExtra %}
            <tr>
                <th>Extra</th>
                <td>{{ extra.membershipTypePeriodExtra.membershipExtra.name }}</td>
                <td>&pound;{{ extra.membershipTypePeriodExtra.value|number_format(2) }}</td>
            </tr>
        {% endfor %}

        <tr>
            <th>Total</th>
            <td></td>
            <td><strong>&pound;{{ total|number_format(2)}}</strong></td>
        </tr>
    </table>

    <h3>Payment Options</h3>
    <div class="card-deck mb-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pay Online</h4>
                <p>
                    {#You can avoid having to wait around on enroment night by choosing to pay for your membership online with a credit or debit card.#}
                    Pay for your membership online with a credit or debit card.
                </p>
            </div>
            <div class="card-footer text-right">
                <button id="paynow" class="btn btn-primary" value="Pay Online Now" />Pay Online Now</button>
                {{ form(form, {'attr': {'id': 'payNowForm'}}) }}
            </div>
        </div>

        {#<div class="card">
            <div class="card-body">
                <h4 class="card-title">Pay At The Club</h4>
                <p>
                    Alternatively you can choose to pay at the club, using either cash, cheque or card.
                </p>
            </div>
            <div class="card-footer text-right">
                {{ form_start(payLaterForm) }}
                    <input type="submit" class="btn btn-primary" value="Pay At Club" />
                {{ form_end(form) }}
            </div>
        </div>#}
    </div>

    <p class="text-muted">
        Card payments are taken using <a href="https://stripe.com/gb" target="_blank">Stripe</a> - one of the leading online payment processors.  Eagle Canoe Club will never see your card details.
    </p>


    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
    var handler = StripeCheckout.configure({
        key: '{{ stripe_publishable_key }}',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function(token) {
            // You can access the token ID with `token.id`.
            // Get the token ID to your server-side code for use.
            console.log(token);
            document.getElementById('form_stripeToken').value = token.id;
            document.getElementById('payNowForm').submit();
        }
    });

    document.getElementById('paynow').addEventListener('click', function(e) {
        console.log('click');
    // Open Checkout with further options:
        handler.open({
            name: '{{ site_name }}',
            description: 'Membership',
            zipCode: true,
            amount: {{ total * 100 }},
            email: '{{ app.user.email }}',
            currency: 'gbp'
        });
        e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
      handler.close();
    });
    </script>
        <!--<script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_publishable_key }}"
            data-amount="{{ total * 100 }}"
            data-name="{{ site_name }}"
            data-description="Membership"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true"
            data-currency="gbp"
            data-email="{{ app.user.email }}">
        </script>-->

{% endblock %}
