{% extends 'base.html.twig' %}

{% block title %}Renew{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('account_overview') }}">Account</a>
        <a class="breadcrumb-item" href="{{ path('account_membership') }}">Membership</a>
        <span class="breadcrumb-item active">Renew</span>
    </nav>
{% endblock %}

{% block body %}
    <h2>Renew</h2>

    {{ form_start(form) }}

        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Membership Type</label>
            <div class="col-4">
                {{ form_widget(form.membershipTypePeriod) }}
            </div>
        </div>

        <input type="submit" value="Next" class="btn btn-primary" />
    {{ form_end(form) }}

{% endblock %}
