{% extends 'base.html.twig' %}

{% block title %}Renew{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('account_overview') }}">Account</a>
        <a class="breadcrumb-item" href="{{ path('account_membership') }}">Membership</a>
        <span class="breadcrumb-item active">Renew</span>
    </nav>
{% endblock %}

{% block body %}
    <h2>Renew</h2>

    {{ form_start(renewForm) }}
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">Membership Type</label>
            <div class="col-xs-4">
                {{ form_widget(renewForm.membershipType) }}
            </div>
        </div>

        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_ovdzB6SmvWmscsux2sNGYbkz"
            data-amount="7500"
            data-name="Eagle DB"
            data-description="Membership"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true"
            data-currency="gbp"
            data-email="{{ app.user.email }}">
        </script>
    {{ form_end(renewForm) }}

{% endblock %}
