{% extends 'adminbase.html.twig' %}

{% block title %}Renew{% endblock %}

{% block body %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('account_overview') }}">Account</a>
        <a class="breadcrumb-item" href="{{ path('account_membership') }}">Membership</a>
        <span class="breadcrumb-item active">Renew</span>
    </nav>

    <h2>Renew - Extras</h2>

    <dl>
        <dt>Type</dt>
        <dd>{{ mtp.membershipType.type }}</dd>

        <dt>Period</dt>
        <dd>{{ mtp.membershipPeriod.fromDate|date('jS F Y') }} - {{ mtp.membershipPeriod.toDate|date('jS F Y') }}</dd>

        <dt>Price</dt>
        <dd>£{{ mtp.price}}</dd>

        <dt>Extras</dt>
        <dd>

            {% if form.children|length == 1 %}
                <p>No extras can be added, simply click 'Next' to continue</p>
            {% endif %}

            {{ form_start(form) }}
                {% for child in form.children %}
                    {{ form_row(child) }}
                {% endfor %}

                <input type="submit" value="Next" class="btn btn-primary" />
            {{ form_end(form) }}
        </dd>
    </dl>

{% endblock %}
