{% extends 'base.html.twig' %}

{% block title %}Renew{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('account_overview') }}">Account</a>
        <a class="breadcrumb-item" href="{{ path('account_membership') }}">Membership</a>
        <span class="breadcrumb-item active">Renew</span>
    </nav>
{% endblock %}

{% block body %}
    <h2>Renew 2</h2>

    {{ form_start(form) }}
        {% for child in form.children %}
            {{ form_row(child) }}
        {% endfor %}

        <input type="submit" value="Next" class="btn btn-primary" />
    {{ form_end(form) }}

{% endblock %}
