{% extends 'adminbase.html.twig' %}

{% block title %}Renew - Insurance{% endblock %}

{% block body %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('account_overview') }}">Account</a>
        <a class="breadcrumb-item" href="{{ path('account_membership') }}">Membership</a>
        <span class="breadcrumb-item active">Renew</span>
    </nav>

    <h2>Renew - Insurance</h2>

    {% if app.user.bcMembershipNumber %}
        <p>
            As an active British Canoeing member you are already insured.
        </p>
        <div class="alert alert-warning" role="alert">
            <h4>No longer a British Canoeing Member?</h4>
            If you no longer have an active British Canoeing membership, please remove your membership number from <a href="{{ path('account_edit')}}" class="alert-link">your profile</a> before restarting the renewal process.
        </div>
    {% else %}
        <p>
            You do not appear to be a British Canoeing member, so will need to pay for insurance as part of your renewal.  For full details about the insurance provided by British Canoeing please <a href="https://www.britishcanoeing.org.uk/membership/club-membership/" target="_blank">see here</a>.
        </p>

        <div class="alert alert-warning" role="alert">
            <h4>Data Protection Notice</h4>
            By continuing you agree to Eagle Canoe Club passing on your name and contact details to British Canoeing for the purpose of providing you with insurance cover.
        </div>


        <div class="alert alert-warning" role="alert">
            <h4>British Canoeing Member?</h4>
            If you have an active British Canoeing membership, please add your membership number to <a href="{{ path('account_edit')}}">your profile</a> before restarting the renewal process, to avoid paying for insurance again.
        </div>

    {% endif %}

    <div class="text-right">
        {{ form_start(form) }}
            {% for child in form.children %}
                {{ form_row(child) }}
            {% endfor %}

            <input type="submit" value="Next" class="btn btn-primary" />
        {{ form_end(form) }}
    </div>

{% endblock %}
