{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <span class="breadcrumb-item active">Locations</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Location list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.name }}</td>
                <td>
                    <a href="{{ path('admin_location_edit', { 'id': location.id }) }}" class="btn"><i class="fa fa-pencil"></i></a>
                    <a href="http://maps.google.com/maps?z=12&t=m&q=loc:{{ location.longitude }}+{{ location.latitude}}" target="_blank"><i class="fa fa-map"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_location_new') }}" class="btn btn-primary">Create a new entry</a>
{% endblock %}
