{% extends 'base.html.twig' %}

{% block body %}
    <h1>ParticipantRole list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participantRole in participantRoles %}
            <tr>
                <td><a href="{{ path('participantrole_show', { 'id': participantRole.id }) }}">{{ participantRole.id }}</a></td>
                <td>{{ participantRole.role }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('participantrole_show', { 'id': participantRole.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('participantrole_edit', { 'id': participantRole.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participantrole_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
