{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <a class="breadcrumb-item" href="{{ path('admin_membershiptypeperiodextra_index')}}">Membership Type Period Extras</a>
        <span class="breadcrumb-item active">{{ membershipTypePeriodExtra.id }}</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Membershiptypeperiodextra edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Save" class="btn btn-primary" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
