{% extends 'adminbase.html.twig' %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <a class="breadcrumb-item" href="{{ path('admin_membershiptypeperiodextra_index')}}">Membership Type Period Extras</a>
        <span class="breadcrumb-item active">Create</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Membership Type Period Extras Create</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-primary" />
    {{ form_end(form) }}

{% endblock %}
