{% extends 'adminbase.html.twig' %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Home</a>
      <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
      <a class="breadcrumb-item" href="{{ path('admin_charge_index')}}">Charges</a>
      <span class="breadcrumb-item active">Due</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Due Charges</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Due Date</th>
                <th>Member</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for charge in charges %}
            <tr>
                <td>{{ charge.duedatetime|date('d M Y')}}</td>
                <td>{{ charge.person.name }}</td>
                <td>{{ charge.description }}</td>
                <td>&pound;{{ charge.amount|number_format(2) }}</td>
                <td>
                    <a href="{{ path('admin_membercharge_show', { personId: charge.person.id, id: charge.id})}}" title="View Charge"><i class="fa fa-search"></i></a>
                    <a href="{{ path('admin_person_edit', { id: charge.person.id })}}" title="View Person"><i class="fa fa-user"></i></a>
                    <a href="{{ path('admin_membercharge_approve', { personId: charge.person.id, id: charge.id})}}" title="Pay Charge"><i class="fa fa-money"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <strong>Total Due: &pound;{{ totalDue|number_format(2) }}</strong>
{% endblock %}
