<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">

    <title>{% block title %}Sign-in form for {{ activity.name }}{% endblock %}</title>

    <style>
        .select2-container {
            height: 3em;
        }
        .select2-selection--single {
            height: 3em !important;
        }
        .select2-selection__rendered {
            height: 3em !important;
            line-height: 3em !important;
        }
        .select2-selection__arrow {
            margin-top: 10px;
        }
        .select2-results__option {
            line-height: 1.75em;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h1>Sign In</h1>
                <h2>{{ activity.name}} - {{ activity.activityStart|date("jS M Y") }}</h2>
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ flash_message }}
                    </div>
                {% endfor %}


                {{ form_start(signin_form) }}
                    {{ form_widget(signin_form) }}
                    <input type="submit" value="Sign In" class="btn btn-primary btn-lg" />
                {{ form_end(signin_form) }}
            </div>
        </div>
    </div>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#form_person").select2();
      $(".alert-success").fadeTo(3000, 500).slideUp(500);
      $(".alert-danger").fadeTo(3000, 500).slideUp(500);
    });
    </script>
</body>
</html>
