{% extends 'adminbase.html.twig' %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <a class="breadcrumb-item" href="{{ path('admin_group_index')}}">Group</a>
        <a class="breadcrumb-item" href="{{ path('admin_group_show', { id: group.id } )}}">{{ group.name }}</a>
        <span class="breadcrumb-item active">Email List</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>{{ group.name }}</h1>

    {% for person in group.person %}
        {{ person.email }};
    {% endfor %}

{% endblock %}
