{% extends 'adminbase.html.twig' %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <span class="breadcrumb-item active">Group</span>
    </nav>
{% endblock %}


{% block body %}
    <h1>Groups list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>
                    <a href="{{ path('admin_group_show', { 'id': group.id }) }}"><i class="fa fa-search"></i></a>
                    <a href="{{ path('admin_group_edit', { 'id': group.id }) }}"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_group_new') }}" class="btn btn-primary">Create a new group</a>

{% endblock %}
