{% extends 'adminbase.html.twig' %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <span class="breadcrumb-item active">Membership Periods</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>MembershipPeriod list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Membership Dates</th>
                <th>Signup Dates</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membershipPeriod in membershipPeriods %}
            <tr>
                <td>{{ membershipPeriod.fromDate|date('jS M Y') }} → {{ membershipPeriod.toDate|date('jS M Y') }}</td>
                <td>{{ membershipPeriod.signupFromDate|date('jS M Y') }} → {{ membershipPeriod.signupToDate|date('jS M Y') }}</td>
                <td>
                    <a href="{{ path('admin_membershipperiod_edit', { 'id': membershipPeriod.id }) }}" class="btn"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_membershipperiod_new') }}" class="btn btn-primary">Create</a>
{% endblock %}
