{% extends 'base.html.twig' %}

{% block title %}{{ activity.name }}{% endblock %}

{% block body %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('activity_index') }}">Activities</a>
        <a class="breadcrumb-item" href="{{ path('activity_view', { id: activity.id }) }}">{{ activity.name }}</a>
        <span class="breadcrumb-item active">Contact</span>
    </nav>

    <h2>Contact</h2>

    <div class="row">

        <div class="col-sm-12">
            {{ form_start(contactForm) }}
                {{ form_row(contactForm.message) }}
                <input class="btn btn-primary" type="submit" value="Send" />
            {{ form_end(contactForm) }}
        </div>
    </div>

{% endblock %}
