{% extends 'base.html.twig' %}

{% block title %}Activities{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <span class="breadcrumb-item active">Activities</span>
</nav>
{% endblock %}

{% block body %}
    <h2>Activities</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for activity in activities %}
                <tr>
                    <td>{{ activity.activityStart|date('d M Y H:i') }}</td>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.activityType.type }}</td>
                    <td>
                        <a href="{{ path('activity_view', { 'id': activity.id }) }}" class="btn btn-sm"><i class="fa fa-search"></i></a>
                        {% if app.user == activity.organiser %}
                            <a href="{{ path('activity_participants', { 'id': activity.id }) }}" class="btn btn-sm"><i class="fa fa-users"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Sorry, there's no activities available to you.  Have you enrolled?</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>iCal Feed</h3>
    <p>Click the following icon to add the programme to your calendar -<a href="{{ path('calendar_ical')}}" class="btn" title="iCal Feed"><i class="fa fa-calendar"></i></a></p>

{% endblock %}
