{% extends 'base.html.twig' %}

{% block title %}Email List{% endblock %}

{% block body %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('activity_index') }}">Activities</a>
        <a class="breadcrumb-item" href="{{ path('activity_view', { id: activity.id }) }}">{{ activity.name }}</a>
        <a class="breadcrumb-item" href="{{ path('activity_participants', { id: activity.id }) }}">Participants</a>
        <span class="breadcrumb-item active">Email List</span>
    </nav>

    <h2>Email List</h2>

    <div class="alert alert-warning">
        When emailing please ensure that you add the addresses to the BCC field.
    </div>

    <h3>Attending</h3>
    {% for participant in activity.participantsByStatus('Attending') %}
        {{ participant.person.email }};
    {% endfor %}

    <h3>Shortlist</h3>
    {% for participant in activity.participantsByStatus('Shortlist') %}
        {{ participant.person.email }};
    {% endfor %}

    <h3>Cancelled</h3>
    {% for participant in activity.participantsByStatus('Cancelled') %}
        {{ participant.person.email }};
    {% endfor %}

{% endblock %}

{% block javascripts %}
<script>
$('.nok').popover({
  trigger: 'hover'
})
</script>
{% endblock %}
