{% extends 'base.html.twig' %}

{% block title %}Email List{% endblock %}

{% block body %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('activity_index') }}">Activities</a>
        <a class="breadcrumb-item" href="{{ path('activity_view', { id: activity.id }) }}">{{ activity.name }}</a>
        <a class="breadcrumb-item" href="{{ path('activity_participants', { id: activity.id }) }}">Participants</a>
        <span class="breadcrumb-item active">Email List</span>
    </nav>

    <h2>Email List</h2>

    {% for participant in activity.participant %}
        {{ participant.person.email }};
    {% endfor %}

{% endblock %}

{% block javascripts %}
<script>
$('.nok').popover({
  trigger: 'hover'
})
</script>
{% endblock %}
