{% extends 'base.html.twig' %}

{% block title %}{{ activity.name }}{% endblock %}

{% block body %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('activity_index') }}">Activities</a>
        <a class="breadcrumb-item" href="{{ path('activity_view', { id: activity.id }) }}">{{ activity.name }}</a>
        <span class="breadcrumb-item active">Sign Up</span>
    </nav>

    <h2>{{ activity.name }}</h2>


    {% if form is defined %}

        {% if activity.cost and activity.cost > 0 %}
            <div class="alert alert-warning" role="alert">
              Please note that there is a £{{activity.cost|number_format(2)}} charge for attending this activity.
            </div>
        {% endif %}

        {% if activity.people >= activity.spaces %}
            <div class="alert alert-warning" role="alert">
                This activity is currently full.  Sign up below if you would like to be added to the shortlist.  If a space becomes available you will be notified by the lead coach.
            </div>
        {% elseif activity.defaultParticipantStatus.status == 'Shortlist' %}
            <div class="alert alert-warning" role="alert">
                Sign up below if you would like to be added to the shortlist.  If a space becomes available you will be notified by the lead coach.
            </div>
        {% endif %}

        {{ form_start(form) }}
            {{ form_row(form.notes) }}
            <input class="btn btn-primary" type="submit" value="Sign Up" />
        {{ form_end(form) }}

        <a href="{{ path('activity_view', { id: activity.id }) }}" class="btn btn-secondary">Cancel</a>

    {% else %}
        {% if app.user.shortlisted(activity) %}
            <div class="alert alert-warning" role="alert">
                You are currently on the shortlist for this activity.  You will be informed nearer the time whether there's space on the trip for you or not.
            </div>
        {% endif %}

        <p>You signed up on {{ participant.signupDatetime|date('d M Y') }} at {{ participant.signupDatetime|date('H:i') }}</p>


        {% if activity.allowOnlineSignup %}
            <div class="card mb-3">
                <h4 class="card-header">Message for the organiser</h4>
                <div class="card-block">
                    {% if participant.notes %}
                        <blockquote class="blockquote">
                            {{ participant.notes}}
                        </blockquote>
                        <a href="{{ path('activity_signup_edit', { id: activity.id } ) }}" class="btn btn-primary btn-sm">
                            <i class="fa fa-envelope"></i> Update message
                        </a>
                    {% else %}
                        <p>
                            <em>You have not left a message for the organiser</em>
                        </p>
                        <a href="{{ path('activity_signup_edit', { id: activity.id } ) }}" class="btn btn-primary btn-sm">
                            <i class="fa fa-envelope"></i> Leave a message
                        </a>
                    {% endif %}
                </div>
            </div>

            {% if not activity.inPast %}
                <div class="card">
                    <h4 class="card-header">Cancel</h4>
                    <div class="card-block">
                        <p>If you can no longer make the activity, you can cancel using the button below</p>
                        <a href="{{ path('activity_signup_cancel', { id: activity.id } ) }}" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Cancel
                        </a>
                    </div>
                </div>
            {% endif %}

        {% endif %}

    {% endif %}

{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block javascripts %}
{% endblock %}
