{% extends 'base.html.twig' %}

{% block title %}{{ activity.name }}{% endblock %}

{% block body %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('activity_index') }}">Activities</a>
        <span class="breadcrumb-item active">{{ activity.name }}</span>
    </nav>

    <h2>{{ activity.name }}</h2>

    <div class="row">

    <div class="col-sm-8">
        <div class="card mb-2">
            <h4 class="card-header">Summary</h4>
            <div class="card-block">
                <ul>
                    <li><strong>Start</strong> {{ activity.activityStart|date('d M Y H:i')}}</li>
                    <li><strong>End</strong> {{ activity.activityEnd|date('d M Y H:i')}}</li>
                    <li><strong>Type</strong> {{ activity.activityType.type }}</li>
                    {% if activity.organiser %}
                        <li><strong>Organiser</strong> {{ activity.organiser.getName }}</li>
                    {% endif %}
                </ul>
                <em>Please note that times and locations may be subject to change.</em>
            </div>
        </div>

        <div class="card mb-2">
            <h4 class="card-header">Description</h4>
            <div class="card-block">
                {{ activity.description|markdown }}
            </div>
        </div>

        {% if app.user == activity.organiser or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('activity_participants', { 'id': activity.id }) }}" class="btn btn-sm btn-info">View Participants</a>
            <a href="{{ path('activity_edit', { 'id': activity.id }) }}" class="btn btn-sm btn-warning">Edit Activity</a>
        {% endif %}

        {#<div class="card">
            <h4 class="card-header">Weather</h4>
            <div class="card-block" style="height: 170px; overflow-y: scroll;">
                <table class="table">
                    {% for dataPoint in activity.weatherDataPoints %}
                        <tr>
                            <td class="h2">{{ dataPoint.time|date('H:i', dataPoint.timeZone) }}</td>
                            <td>
                                <i class="wi wi-forecast-io-{{dataPoint.icon}} h2"></i>
                                {% if dataPoint.precipitationIntensity > 0 %}
                                    <sub>{{ dataPoint.precipitationIntensity }} mm/h</sub>
                                {% endif %}
                            </td>
                            <td>
                                <i class="wi wi-thermometer h2"></i>
                                <span class="h2">{{ dataPoint.temperature|number_format(1) }}</span>
                                <sup>°C</sup>
                            </td>
                            <td>
                                <i class="wi wi-wind from-{{dataPoint.windBearing}}-deg h2" title="{{dataPoint.windBearing}}°"></i>
                                <span class="h2">{{ dataPoint.windSpeed|number_format(1) }}</span>
                                <sup>km/h</sup>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
        #}
    </div>

    <div class="col-sm-4">

        <div class="card mb-2">
            <h4 class="card-header">Actions</h4>
            <div class="card-block">


                {% if activity.spaces != 0 %}
                    <strong>Places</strong> {{ activity.people}} / {{ activity.getSpaces }}

                    {% set percentage = (activity.people / activity.spaces) * 100 %}
                    {% if percentage >= 100 %}
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{percentage}}%" aria-valuenow="{{ activity.people }}" aria-valuemin="0" aria-valuemax="{{ activity.spaces }}"></div>
                        </div>
                    {% elseif percentage > 80 %}
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{percentage}}%" aria-valuenow="{{ activity.people }}" aria-valuemin="0" aria-valuemax="{{ activity.spaces }}"></div>
                        </div>
                    {% else %}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{percentage}}%" aria-valuenow="{{ activity.people }}" aria-valuemin="0" aria-valuemax="{{ activity.spaces }}"></div>
                        </div>
                    {% endif %}
                {% endif %}


                {% if app.user %}
                    {% if app.user.attending(activity) %}
                        You are signed up
                    {% else %}
                        {% if activity.allowOnlineSignup %}
                            {% if activity.acceptingSignups %}
                                <a href="{{ path('activity_signup', { id: activity.id }) }}" class="btn btn-sm btn-primary">Sign Up</a>
                            {% else %}
                                Signup from {{ activity.signupStart|date('jS M Y H:i') }}
                            {% endif %}
                        {% else %}
                            Online sign up is not available
                        {% endif %}
                    {% endif %}
                {% else %}
                    <p>Please <a href="{{ path('login') }}">login</a> in order to sign up</p>
                {% endif %}
            </div>
        </div>

        {% if activity.startLocation %}
        <div class="card mb-2">
            <h4 class="card-header">Map</h4>
            <div id="map" style="width: 100%; height: 300px;"></div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons-wind.min.css" />
{% endblock %}


{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&callback=initMap" async defer></script>

    {% if activity.startLocation %}
        <script>
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'));

            var startPos = {lat: {{activity.startLocation.latitude}}, lng: {{ activity.startLocation.longitude}}};
            var endPos = {lat: {{activity.endLocation.latitude}}, lng: {{ activity.endLocation.longitude}}};

            var start = new google.maps.Marker({
              position: startPos,
              icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
              map: map,
              title: 'Start'
            });

            var end = new google.maps.Marker({
              position: endPos,
              icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
              map: map,
              title: 'End'
            });

            var startWindow = new google.maps.InfoWindow({
                content: '<strong>{{ activity.startLocation.name }}</strong><p>{{ activity.startLocation.address }}, {{ activity.startLocation.postcode }}</p>'
            });

            var endWindow = new google.maps.InfoWindow({
                content: '<strong>{{ activity.endLocation.name }}</strong><p>{{ activity.endLocation.address }}, {{ activity.endLocation.postcode }}</p>'
            });

            start.addListener('click', function() {
                startWindow.open(map, start);
            });

            end.addListener('click', function() {
                endWindow.open(map, end);
            });

            var bounds = new google.maps.LatLngBounds();
            bounds.extend(startPos)
            bounds.extend(endPos);
            map.fitBounds(bounds);

            google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
              if (map.getZoom() > 15) {
                map.setZoom(15);
              }
            });

          }
        </script>
    {% endif %}
{% endblock %}
