{% extends 'base.html.twig' %}

{% block title %}Edit Activity{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index') }}">Admin</a>
        <a class="breadcrumb-item" href="{{ path('admin_activity_index') }}">Activities</a>
        <a class="breadcrumb-item" href="{{ path('admin_activity_show', { id: activity.id }) }}">{{ activity.name }}</a>
        <span class="breadcrumb-item active">Edit</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>
        {{ activity.name }}
        <small class="text-muted">{{ activity.activityStart|date('d M Y') }}</small>
    </h1>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#details" data-toggle="tab" role="tab">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#membershiptypes" data-toggle="tab" role="tab">Membership Types</a>
        </li>
    </ul>

    <div class="tab-content m-t-1">
        <div class="tab-pane active" id="details" role="tabpanel">
                {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input type="submit" value="Save" class="btn btn-primary" />
                {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-danger">
                {{ form_end(delete_form) }}
        </div>

        <div class="tab-pane" id="membershiptypes" role="tabpanel">
            <table class="table">
                <thead>
                    <tr>
                        <th>Membership Type</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                {% for type in activity.managedActivityMembershipType %}
                    <tr>
                        <td>{{ type.membershipType.type }}</td>
                        <td>&pound;{{ type.price|number_format(2) }}</td>
                        <td>
                            <a href="{{ path('admin_managedactivitymembershiptype_edit', { managedActivityId: activity.id, id: type.id }) }}" class="btn"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <a href="{{ path('admin_managedactivitymembershiptype_new', { id: activity.id }) }}" class="btn btn-primary">Add</a>
        </div>

    </div>

{% endblock %}
