{% extends 'adminbase.html.twig' %}

{% block title %}Activities{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index') }}">Admin</a>
        <span class="breadcrumb-item active">Activities</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Activity list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Spaces</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.name }}</td>
                <td>{% if activity.activityStart %}{{ activity.activityStart|date('Y-m-d H:i') }}{% endif %}</td>
                <td>{% if activity.activityEnd %}{{ activity.activityEnd|date('Y-m-d H:i') }}{% endif %}</td>
                <td>{{ activity.people }}/{{ activity.spaces }}</td>
                <td>
                    <a href="{{ path('admin_activity_show', { 'id': activity.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></a>
                    <a href="{{ path('admin_activity_edit', { 'id': activity.id }) }}" class="btn btn-sm"><i class="fa fa-pencil"></i></a>
                    <a href="{{ path('activity_participant_list', { 'id': activity.id }) }}" class="btn btn-sm"><i class="fa fa-users"></i></a>
                    <a href="{{ path('activity_participant_list', { 'id': activity.id }) }}" class="btn btn-sm"><i class="fa fa-print"></i></a>
                    {% if activity.signinKey is defined %}
                        <a href="{{ path('signin_show', { 'id': activity.id, 'key': activity.signinKey }) }}" target="_blank" class="btn btn-sm"><i class="fa fa-check-square-o"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create</button>
        <div class="dropdown-menu">
            <a href="{{ path('admin_activity_new') }}" class="dropdown-item">Managed Activity</a>
            <a href="{{ path('admin_activity_new', { 'type': 'unmanaged' }) }}" class="dropdown-item">Unmanaged Activity</a>
        </div>
    </div>


{% endblock %}
