{% extends 'adminbase.html.twig' %}

{% block title %}{{ activity.name }}{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index') }}">Admin</a>
        <a class="breadcrumb-item" href="{{ path('admin_activity_index') }}">Activities</a>
        <span class="breadcrumb-item active">{{ activity.name }}</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Activity</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity.id }}</td>
            </tr>
            <tr>
                <th>Activitystart</th>
                <td>{% if activity.activityStart %}{{ activity.activityStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Activityend</th>
                <td>{% if activity.activityEnd %}{{ activity.activityEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Spaces</th>
                <td>{{ activity.spaces }}</td>
            </tr>
            {% if activity.signupStart is defined %}
                <tr>
                    <th>Signupstart</th>
                    <td>{% if activity.signupStart %}{{ activity.signupStart|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            {% endif %}
            {% if activity.signupStart is defined %}
                <tr>
                    <th>Signupend</th>
                    <td>{% if activity.signupEnd %}{{ activity.signupEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('admin_activity_edit', { 'id': activity.id }) }}">Edit</a>

    {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
