{% extends 'adminbase.html.twig' %}

{% block body %}
    <h1>MemberQualification list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Qualification</th>
                <th>Valid</th>
                <th>To</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for memberQualification in memberQualifications %}
            <tr>
                <td>{{ memberQualification.qualification.name }}</td>
                <td>{{ memberQualification.validFrom|date('jS M Y') }}</td>
                <td>{{ memberQualification.validTo|date('jS M Y') }}</td>
                <td>
                    <a href="{{ path('admin_memberqualification_show', { 'personId': memberQualification.person.id, 'id': memberQualification.id }) }}" class="btn btn-sm"><i class="fa fa-search"></i></a>
                    <a href="{{ path('admin_memberqualification_edit', { 'personId': memberQualification.person.id, 'id': memberQualification.id }) }}" class="btn btn-sm"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_memberqualification_new', { personId: person.id}) }}" class="btn btn-primary">Create</a>
{% endblock %}
